<section class="pn-wt-section">
  <div class="pn-eyebrow-label pn-eyebrow-label--later"><%= t("walkthrough.ui.later_eyebrow", count: loc.later.size) %></div>
  <h3 class="pn-wt-band__h3"><%= t("walkthrough.ui.later_h2") %></h3>
  <p class="pn-wt-later__intro"><%= t("walkthrough.ui.later_intro") %></p>
  <div class="pn-wt-later-grid">
    <% loc.later.each_with_index do |item, i| %>
      <%= render "later_item", item: item, id: "#{loc.slug}/later-#{i}" %>
    <% end %>
  </div>
</section>
