<div class="pn-mm-howto pn-mm-howto--<%= place %>">
  <div class="pn-mm-howto__title"><%= t("walkthrough.ui.map_howto") %></div>
  <p class="pn-mm-howto__body"><%= t("walkthrough.ui.map_howto_body") %></p>
</div>
