<div class="pn-wt-oak__row">
  <span class="pn-wt-oak__row-sprite"><%= r2_image_tag "pokemon/yellow/#{entry.dex}.png", alt: "" %></span>
  <div class="pn-wt-oak__row-body">
    <div class="pn-wt-oak__row-name"><%= entry.name %></div>
    <div class="pn-wt-oak__row-why"><%= t(entry.why_key) %></div>
  </div>
  <span class="pn-wt-qty">×<%= entry.qty %></span>
</div>
