<div class="pn-wt-shot <%= shot.map? ? "pn-wt-shot--map" : "pn-wt-shot--step" %>">
  <% if shot.map? %>
    <%= r2_image_tag shot.image, alt: "", class: "pn-wt-shot__map-img", loading: "lazy" %>
  <% else %>
    <div class="pn-wt-shot__ph"><%= t("walkthrough.ui.shot_placeholder") %></div>
  <% end %>
  <span class="pn-wt-shot__label"><%= shot.label %></span>
</div>
