<div class="pn-marquee__row">
  <span class="pn-marquee__item">GEN 1 &amp; 2 LIVE</span><span>◆</span><span class="pn-marquee__item">SAVE-FILE PARSER</span><span>◆</span><span class="pn-marquee__item">OAK CHALLENGE</span><span>◆</span><span class="pn-marquee__item">LIVING DEX MODE</span><span>◆</span><span class="pn-marquee__item">100% OPEN SOURCE</span><span>◆</span><span class="pn-marquee__item">SELF-HOSTABLE</span><span>◆</span>
</div>
